:root {
  --dark-blue: hsl(206, 43%, 21%);
  --light-grey: hsl(0, 0%, 89%);
  --orange: hsl(39, 100%, 50%);
  --primary-color: var(--dark-blue);
  --secondary-color: var(--light-grey);
  --tertiary-color: var(--orange);
}

html {
  font-family: 'Roboto Mono';
  font-size: 1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
